node_modules/
.cache/
.parcel-cache/
cypress/fixtures
cypress/integration/examples
cypress/plugins
cypress/screenshots
cypress/support
cypress/videos
/dist/*.js.map
/dist/*.css.map
test*.png
dist/
coverage/