html {
  font-size: 100%;
}

body {
  background-color: $background;
  font-family: 'Heebo', sans-serif;
  line-height: 1.5;
  text-align: center;
}

p + p {
  font-style: italic;
}

input {
  margin-top: 1.5em;
  font-size: 1rem;
}
