html {
  font-size: 100%;
}

body {
  background-color: $background;
  font-family: 'Heebo', sans-serif;
  line-height: 1.5;
  text-align: center;
}

p + p {
  font-style: italic;
}

input {
  margin-top: 1.5em;
  font-size: 1rem;
}

button {
  margin-left: 0.5em;
  padding: .5em 1em;
  border: 1px solid #bbbdd0;
  border-radius: 0.25em;
  background-color: #e7e9ff;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #dadcef;
}

button:active {
  position: relative;
  left: 2px;
  top: 2px;
  color: black;
}