.temperature {
  margin: 0;
  margin-top: 2.5em;
  padding: 0;
  display: inline-block; //makes it only as wide as it needs to be
  list-style-type: none;
  text-align: left;
}

.history {
  margin-bottom: 2em;
  animation: shift 1s ease-in-out forwards;
}

@keyframes shift {
  from {
    max-height: 0;
    opacity: 0;
    transform: translateY(-200%);
  }
  to {
    max-height: 1.5em;
    opacity: 1;
    transform: translateY(0);
  }
}

//Colours for guesses
.correct {
  font-weight: bold;
}

.boiling {
  color: #D32F2F;
}

.hot {
  color: #E64A19;
}

.warm {
  color: #EF5350;
}

.cold {
  color: #0288D1;
}

.freezing {
  color: #1976D2;
}

//All the elements in each li
.history-counter {
  display: inline-block;
  width: 1.5em;
  color: black;
  text-align: right;
}

.history-counter::after {
  content: ')';
}

.history-guess {
  display: inline-block;
  margin-left: 1em;
  padding: .25em;
  height: 2em;
  width: 2em;
  line-height: 2em;
  border-radius: 50%;
  text-align: center;
  background-color: #fbf39e;
  color: black;
}

.history-heat {
  padding-left: 1em;
}