$standardFontSize: 1rem;

$background: #FFFDE7;
$defaultColour: black;

$buttonBackground: #e7e9ff;
$buttonBorder: #bbbdd0;
$buttonHover: #dadcef;

$historyBackground: #fbf39e;
$historySize: 2em;

$boiling: #D32F2F;
$hot: #E64A19;
$warm: #EF5350;
$cold: #0288D1;
$freezing: #1976D2;